<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="">
      <h1>Welcome to Home page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis labore
        recusandae reprehenderit, amet cumque dolorum accusamus quos voluptatum
        soluta. Quod eveniet explicabo quidem unde illum ipsam dolores itaque
        repellendus fugit.
      </p>
    </div>
  </body>
</html>
