<!DOCTYPE html>
<html
  lang="en"
  data-th-replace="~{base::parent(~{::#title},~{::#style},~{::#header},~{::#content},~{::#footer},~{::#src})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">home page</title>
    <link rel="stylesheet" id="style" />
  </head>
  <body>
    <div id="header">
      <div data-th-replace="~{userLoggedOutHeader::userLoggedOutHeader}"></div>
    </div>
    <div id="content" class="pt-[70px] height-1000">
      <div>
        <hr />
        <h1>hehe</h1>
      </div>
      <div>
        <h1 class="border-b top-10 font-semibold">Welcome to Home page</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          labore recusandae reprehenderit, amet cumque dolorum accusamus quos
          voluptatum soluta. Quod eveniet explicabo quidem unde illum ipsam
          dolores itaque repellendus fugit.
        </p>
      </div>
    </div>
    <div id="footer">
      <div  data-th-replace="~{userLoggedOutFooter::userLoggedOutFooter}"></div>
    </div>
  </body>
  <script id="src" src=""></script>
</html>
