<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles-login.css">
  </head>
  <body>
    <div id="signupPage" class="auth-page">
      <h2>Create Account</h2>
      <p>Start tracking your expenses today</p>
      <form
        data-th-action="@{'/do-register'}"
        data-th-object="${userForm}"
        method="post"
        class="max-w-md mx-auto"
        novalidate
      >
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" th:field="*{fullName}" required />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" th:field="*{email}" required />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" th:field="*{password}" required />
        </div>
        <button type="submit" class="btn">Sign Up</button>
      </form>
      <div class="switch-auth">
        Already have an account? <a data-th-href="@{'/login'}">Login</a>
      </div>
    </div>
  </body>
</html>
